* {
    font-family: "Noto Sans KR", sans-serif;
    list-style: none;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    margin: 0; padding: 0;
    text-transform: none;
    }

    /*body{
        min-height: 100vh;
        background: url(./components/assets/pexels-cottonbro-10610365.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }*/
    .navBar{
        position: fixed;
        top: 0; left: 0; right: 0;
        background: white;
        color: black;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        padding: 0px 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }

    .navBar .logo{
    font-size: 40px;
    color: black;
    }
    .navBar .barraMenu .ul{
        text-transform: uppercase;
        list-style: none;
        list-style-type: none;
    }
    .navBar .barraMenu .ul .li{
        position: relative;
        float: left;
    }
    
    .navBar .barraMenu .ul .li .a{
        font-size: 20px;
        padding: 20px;
        color: black;
        display: block;
    }
    .navBar .barraMenu .ul .li .Link{
        font-size: 20px;
        padding: 20px;
        color: black;
        display: block;
    }
    .navBar .barraMenu .ul .li .a:hover{
        background: black;
        color: white;
        -webkit-transition: 0.2s;
        transition: 0.2s;
    }
    .navBar .barraMenu .ul .li .ul{
        position: absolute;
        left: 0;
        width: 200px;
        background: white;
    }
    .navBar .barraMenu .ul .li .ul .li{
        width: 100%;
        border-top: 1px solid rgba(0,0,0,.1);
    }
