.tarjeta1 {
    background-image: url("../assets/pexels-cottonbro-10607184.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    color: #020202;
}
.tarjeta2 {
    background-image: url("../assets/pexels-cottonbro-10608367.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    color: #020202;
}
.btn-mio{
    color: #fff2f2e1;
    background-color: #060606e3;
    }