* {
    font-family: "Noto Sans KR", sans-serif;
    list-style: none;
    text-decoration: none;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

    .iconoMenu {
    font-size: 40px;
    color: #2a7c6f;
    }
    .dMenu {
        text-decoration: none;
        font-size: 18px;
        display: block;
        text-transform: uppercase;
        color: #6b705c;
        }

    .dMenu.active, .dMenu:hover {
        background: #2a7c6f;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        border-radius: 5px;
        }
    .fondoInicio {
        background-color: #aa9494b8;
    }